@font-face {
  font-family: "Comic Sans MS";
  src: url('../font/ComicSansMS.woff') format("woff");
}

@font-face {
  font-family: "home";
  src: url("../font/home.woff") format("woff");
}

@font-face {
  font-family: "album";
  src: url("../font/album.woff") format("woff");
}

@font-face {
  font-family: "christians";
  src: url("../font/christians.woff") format("woff");
}
